.event-banner {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #3a4a5a;
  color: white;
  padding: 15px 20px;
  width: 100%;
}

.event-content {
  display: flex;
  align-items: center;
}

.icon {
  font-size: 32px;
  margin-right: 30px;
  color: #00aaff;
}

.text p {
  margin: 0;
  font-size: 14px;
  font-weight: bold;
}

.text span {
  font-size: 12px;
  color: #d1d1d1;
}

.start-button {
  background-color: #00aaff;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  transition: background 0.3s;
}

.start-button:hover {
  background-color: #0088cc;
}


@media (max-width: 600px) {
  .event-banner {
    flex-direction: column;
    text-align: center;
  }

  .event-content {
    margin-bottom: 10px;
  }

  .start-button {
    width: 100%;
  }
}
