.footer-container {
  width: 100%;
  background-color: #2d2d38;
  color: white;
  padding: 20px 40px;
  bottom: 0;
  left: 0;
}


.logo {
  width: 100px;
  height: 120px;
  margin-bottom: 20px;
}

.footer-sections {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px; /* Espaçamento entre as seções */
}

.footer-sections2 {
  display: flex;
  justify-content: center;
  color: #919191;
  margin-top: 50px;
}

.section {
  flex: 1;
  min-width: 150px;
  margin-bottom: 20px;
}

.section h4 {
  font-size: 16px;
  margin-bottom: 10px;
}

.section ul {
  list-style: none;
  padding: 0;
}

.section li {
  margin-bottom: 5px;
  font-size: 14px;
  cursor: pointer;
}

.hr {
  margin: 0 0 20px 0;
  border-color: #919191;
}

@media (max-width: 768px) {
  .footer-sections {
    flex-direction: column;
    text-align: center;
    gap: 30px; 
  }

  .section {
    width: 100%;
  }

  .footer-sections2 {
    margin-top: 30px;
  }
}
