* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

.hr {
  height: 1px;
  background-color: rgba(194, 194, 194, 0.5);
  border: none;
  margin: 15% 10%;
}

.main {
  margin-top: 20px;
  margin-bottom: 20px;
}

.title-show {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 10px;
  margin-left: 6%;
  color: #333;
}
