.painel-wrapper {
    display: flex;
    height: 100vh;
    font-family: Arial, sans-serif;
}

/* Sidebar */
.painel-sidebar {
    width: 220px;
    background-color: #1f2937;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    padding: 20px;
}

.painel-container-logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.painel-logo {
    height: 130px;
}

.painel-sidebar ul {
    list-style: none;
    padding: 0;
}

.painel-sidebar li {
    margin-bottom: 15px;
    cursor: pointer;
    transition: color 0.2s;
}


.painel-sidebar-footer {
    border-top: 1px solid #374151;
    padding-top: 15px;
    font-size: 14px;
    color: #9ca3af;
}


/* Main content */
.painel-main {
    flex: 1;
    padding: 20px;
    background-color: #f3f4f6;
    overflow-y: auto;
}

.painel-main header {
    margin-bottom: 30px;
}

/* Grid de cards */
.painel-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 20px;
}

.painel-sidebar-link {
    color: white;
    text-decoration: none;
    display: block;
    padding: 8px 0;
    transition: color 0.2s;
}

.painel-sidebar-link:hover {
    color: #007bff;
}

.painel-sidebar-link-sair {
    text-decoration: none;
    display: block;
    padding: 8px 0;
    transition: color 0.2s;
    color: rgb(254, 120, 120);
}

.painel-sidebar-link-sair:hover {
    color: red;
}