.container {
  height: 100%;
}

.home-navbar {
  background-color: #333;
  color: white;
  padding: 10px 20px;
  height: 150px;
  position: relative;
  z-index: 10;
}

.home-nav-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  margin: 0 40px;
}

.home-location {
  display: flex;
  align-items: center;
}

.home-iconMap {
  color: #2196f3;
  margin-right: 10px;
}

.home-location-btn {
  background-color: #2196f3;
  color: white;
  padding: 3px 8px;
  border-radius: 5px;
  cursor: pointer;
}

.home-auth {
  display: flex;
  gap: 10px;
  margin-left: auto;
}

.home-auth a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s;
}

.home-auth a:hover {
  color: #2196f3;
  text-decoration: underline;
}

.home-auth a:active {
  color: #1976d2;
  transform: scale(0.98);
}

.home-hr {
  border: 0;
  height: 1px;
  background-color: #444;
  margin: 10px 0;
}

.home-nav-main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
  margin: 0 20px;
  margin-top: -25px;
}

.home-logo {
  max-height: 140px;
}

.home-search-container {
  position: relative;
  width: 100%;
  max-width: 500px;
}

.home-search-input {
  width: 100%;
  height: 40px;
  padding: 10px 40px 10px 15px;
  font-size: 16px;
  border: none;
  border-radius: 13px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  outline: none;
}

.home-search-icon {
  position: absolute;
  right: 15px;
  top: 45%;
  transform: translateY(-50%);
  color: #666;
  font-size: 16px;
  cursor: pointer;
}

.home-menu-links {
  display: flex;
  align-items: center;
}

.home-menu-links a {
  color: white;
  text-decoration: none;
  margin-left: 20px;
  font-weight: bold;
  transition: all 0.3s;
}

.home-menu-links a:hover {
  color: #2196f3;
  text-decoration: underline;
}

.home-menu-links a:active {
  color: #1976d2;
  transform: scale(0.98);
}

.navbar-criar-evento {
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar-criar-evento a {
  display: flex;
  align-items: center;
  gap: 8px;
  color: white;
  text-decoration: none;
  font-weight: bold;
  position: relative;
  transition: color 0.3s;
}

.navbar-criar-evento a:hover {
  text-decoration: none;
}

.criar-evento-icone {
  opacity: 0;
  transform: translateX(-10px);
  transition: opacity 0.3s ease, transform 0.3s ease;
  color: #2196f3;
}

.navbar-criar-evento a:hover .criar-evento-icone {
  opacity: 1;
  transform: translateX(0);
}


/*  Parte do login  */
.usuario-menu {
  position: relative;
  cursor: pointer;
}

.usuario-topo {
  display: flex;
  align-items: center;
  gap: 8px;
}

.avatar {
  width: 32px;
  height: 32px;
  background-color: #ddd;
  border-radius: 50%;
}

.dropdown-menu {
  position: absolute;
  top: 40px;
  right: 0;
  background: #333;
  border: 1px solid #ccc;
  padding: 10px;
  z-index: 999;
  width: 200px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.menu-item {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 8px;
  cursor: pointer;
}

.menu-item.sair {
  color: red;
}

Link {
  text-decoration: none;
}

.navbar-criar-evento {
  display: flex;
  align-items: center;
  justify-content: center;
}


/* Hambúrguer visível apenas no mobile */
.hamburger {
  display: none;
  cursor: pointer;
  color: white;
}

.mobile-auth {
  display: none;
  flex-direction: row;
  gap: 8px;
  margin-top: 10px;
}

.mobile-auth a:hover {
  color: #2196f3;
}




/* MOBILE */
@media (max-width: 768px) {
  .home-location {
    display: none;
  }

  .home-nav-top {
    flex-direction: row;
    justify-content: space-between;
    margin: 0 20px;
  }

  .hamburger {
    display: block;
  }

  .home-auth.mobile-hide {
    display: none;
  }

  .home-nav-main {
    flex-direction: column;
    align-items: center;
    gap: 10px;
    position: relative;
    margin: 0 20px;
  }

  .home-logo {
    max-height: 80px;
    margin-bottom: 10px;
  }

  .home-search-container {
    display: none;
  }

  .home-menu-links {
    display: none;
    flex-direction: column;
    align-items: flex-end;
    position: absolute;
    top: 10px;
    right: 20px;
    background-color: #333;
    padding: 10px;
    border-radius: 10px;
    width: auto;
    z-index: 999;
  }

  .home-menu-links.active {
    display: flex;
  }

  .home-menu-links a {
    margin-left: 0;
    margin-top: 8px;
  }

  .mobile-auth {
    display: flex;
  }
}
