.cidades-container {
    padding: 20px;
    margin-top: -27%;
    margin-bottom: 20px;
}

.title {
    margin-left: 5%;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #333;
}

.cidades-grid {
    display: flex;
    margin-left: 5%;
    flex-wrap: wrap;
    gap: 20px;
}

.cidade-card {
    width: 200px;
    height: 300px;
    border-radius: 6px;
    overflow: hidden;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease-in-out;
    position: relative; /* Adicionado para posicionar o texto sobre a imagem */
}

.cidade-card:hover {
    transform: scale(1.05);
}

.cidade-card img {
    width: 100%;
    height: 130%;
    object-fit: cover;
}

.cidade-card span {
    display: block;
    padding: 5px;
    font-weight: bold;
}


.imagem-container {
    position: relative;
    width: 100%;
    height: 90%;

}

.texto-sobre-imagem {
    position: absolute;
    bottom: 10px; 
    left: 50%; 
    transform: translateX(-50%);
    color: white;
    font-size: 16px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 5px 10px;
    border-radius: 5px;
    width: 90%;
    box-sizing: border-box;

}