body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

label,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  border-bottom: none !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

::-webkit-scrollbar {
  width: 8px;
  height: 6px;
  /* aumenta um pouco pra melhor usabilidade horizontal */
}

::-webkit-scrollbar-track {
  background-color: #ffffff;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #007bff;
  border-radius: 10px;
  border: 2px solid #ffffff;
  /* cria um "espacinho" ao redor, deixa mais clean */
}

::-webkit-scrollbar-thumb:hover {
  background-color: #0056b3;
  /* tom mais escuro no hover */
}

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #007bff #ffffff;
}